<div class="container">

	<div class="header">
		<div class="headertext">
			<b>I'm a fucking header</b>
		</div>
	</div>

	<div class="content">

		<div class="sidebar">
			<ul class="navlist">
				<li>Nav1</li>
				<li>Nav2</li>
				<li>Nav3</li>
			</ul>
		</div>

		<div class="main">
			<ul class="suspect_list">
				<li><%= "#{@suspects}" %>
				</li>
				<li><%= "#{@suspects}" %>
				</li>
			</ul>
		</div>

		<div class="clear"></div>

	</div>

	<div class="footer">
		<b>This is a footer. It'd be great if it's actually near the bottom</b>
	</div>


</div>