body {
  background-image: url("pacer-overlay.jpg");
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-position-y: 90%;
  background-size: cover;
  color: #fff;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  text-shadow: 0 1px 0 rgba(0,0,0,0.7);
}

a {
	color: white;
	text-decoration: none;
	border-bottom: 10px solid transparent;
}

a:link, a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	/*background: #e1e1e1;*/
  border-color: #d0d0d0;
}

li {
	margin-top: 10px;
	margin-bottom: 10px;
}

.intro h3{
	font-size: 80px;
	text-align: center;
	padding-top: 30%;
	text-shadow:
   -1px -1px 0 #000000,  
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
     1px 1px 0 #000000;
}
.menus {
	margin-top: 100px;
	font-size: 30;
}

.menu_right {
	float: right;
	text-align: right;
	/*margin-left: 80px;*/
}

.menu_left {
	float: left;
	text-align: left;
	/*margin-right: 80px;*/
}

.pacer_nav_right {
	list-style-type: none;
	text-align: right;
}

.pacer_nav_left {
	list-style-type: none;
	text-align: left;
}

.clear {
	clear: both;
}